<div class="calendar-background">
    <section class="container">
        <div class="calendar">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="calendar-header">
                        <h2>ABOUT US</h2>
                        <p>Lorem ipsum Lorem ipsumLorem ipsumLorem ipsum</p>
                    </div>
                </div>
            </div>
            <div class="calendar-row">
                <div class="absolute">
                    <img class="img-fluid" src="./imgpng/about1.png" alt="about1Img">
                </div>
                <div class="vertical-line"></div>
                <div class="calendar-left-text">
                    <div>
                        <h5>July 2010<br>Our humble begins</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                </div>
            </div>
            <div class="calendar-row">
                <div class="absolute">
                    <img class="img-fluid" src="./imgpng/about2.png" alt="about2Img">
                </div>
                <div class="vertical-line"></div>
                <div class="calendar-right-text">
                    <div>
                        <h5>January 2011<br>Facing startup battles</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                </div>
            </div>
            <div class="calendar-row">
                <div class="absolute">
                    <img class="img-fluid" src="./imgpng/about3.png" alt="about3Img">
                </div>
                <div class="vertical-line"></div>
                <div class="calendar-left-text">
                    <div>
                        <h5>December 2012<br>Enter the dark days</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                </div>
            </div>
            <div class="calendar-row">
                <div class="absolute">
                    <img class="img-fluid" src="./imgpng/about4.png" alt="about4Img">
                </div>
                <div class="vertical-line"></div>
                <div class="calendar-right-text">
                    <div>
                        <h5>February 2014<br>Our Triumph</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, </p>
                    </div>
                </div>
            </div>
            <div class="calendar-row-second">
                <img class="img-fluid" src="./imgpng/about5.png" alt="about5Img">
            </div>
        </div>
    </section>
</div>