<section class="about community-container">
    <div class="container">
        <div class="community">
            <div class="community-header">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div>
                            <img class="img-fluid" src="./images/foto-cummunity.png" alt="mid-phone-one">
                        </div>
                        <h5>Our Community</h5>
                        <p class="services-paragraph">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <img class="img-fluid" src="./images/bus.png" alt="mid-phone-one">
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                            <img class="img-fluid" src="./images/leaf.png" alt="mid-phone-one">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>