<div class="team-background">
	<section class="container">
		<div class="team">
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div class="team-h">
						<h2>OUR AMAZING TEAM</h2>
						<p>Lorem Ipsum is simply dummy text of they.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<img class="img-fluid" src="./imgpng/team1.png" alt="team1Img">
					<h6>Kimberly Thompson</h6>
					<p>Marketer</p>
					<ul class="socialmedia-team">
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-12">
					<img class="img-fluid" src="./imgpng/team2.png" alt="team2Img">
					<h6>Rico Massimo</h6>
					<p>Coder</p>
					<ul class="socialmedia-team">
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-google"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-12">
					<img class="img-fluid" src="./imgpng/team3.png" alt="team3Img">
					<h6>Uku Mason</h6>
					<p>Graphic Designer</p>
					<ul class="socialmedia-team">
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div class="team-p">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
						<p>Lorem Ipsum is simply dummy text of the</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>