<div class="contact-background">
	<section class="container">
		<div class="contact">
			<div class="row">
				<div class="col-12">
					<h6>SUBSCRIBE TO US COMMUNITY</h6>
				</div>
			</div>
			<div class="container">
				<form>
					<div class="input">
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<div class="email">
									<label for="exampleInputEmail1"></label>
									<input type="email" class="form-control" id="inputEmail" placeholder="YOUR E-MAIL*"
										required="">
								</div>
							</div>
							<div class="col-sm-6 col-xs-12">
								<div class="input btn-background">
									<div class="col-sm-12 col-xs-12">
										<div class="form-group">
											<input class="btn btn-send" type="submit" value="SEND MESSAGE">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>