<section class="about prefooter-container">
    <div class="container">
        <div class="services">
            <div class="services-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h5>DOWNLOAD IT</h5>
                        <p class="services-paragraph">Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an
                        </p>
                    </div>
                </div>
            </div>
            <div class="services-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="button-welcome">
                            <button class="btn">
                                <span>STORE</span>
                                <div class="input">
                                    <div class="form-prefooter store-prefooter">
                                        <div class="icon-container">
                                            <i class="fab fa-apple"></i>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="button-welcome">
                            <button class="btn">
                                <span>PLAY STORE</span>
                                <div class="input">
                                    <div class="form-prefooter">
                                        <div class="icon-container">
                                            <i class="fab fa-android"></i>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>