<footer>
    <div class="container container-footer">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <p>CREDITS</p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>PRIVACY</p>
                <span class="vertical-line"></span>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>OUR TIME</p>
                <span class="vertical-line"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <p>Copyrights by phototime - all rights reserved</p>
            </div>
             <div class="col-sm-6 col-xs-12">
                 <img src="./images/footer-photo.png" alt="photo icon">
             </div>
        </div>
    </div>
</footer>